.cart {
  background-color: rgb(85, 85, 85);
  border-radius: 1.5rem;
  width: 250px;
  height: 55px;
  margin-right: 8rem;
  text-align: center;
  line-height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color:aliceblue;
  border-style: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.cart .num {
  height: 30px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
  background-color: gray;
  border-radius: 1rem;
}
